<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
          
        </header>
        
        <div class="container-fluid" style="border: solid 1px; min-height: 1000px;">
            <div class="row">
                <div class="col-md-1 col-sm-2" style="border: solid 1px; min-height: 1000px;">
                    Sidebar
                </div>
                <div class="col-md-11 col-sm-10" style="border: solid 1px; min-height: 1000px;">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                 </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
